CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_geode=y
CONFIG_TARGET_x86_geode_Generic=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUILD_PATENTED=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_NANO=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_IPV6 is not set
# CONFIG_BUSYBOX_DEFAULT_FEATURE_IPV6 is not set
CONFIG_CCACHE=y
CONFIG_GCC_USE_EMBEDDED_PATH_REMAP=y
# CONFIG_GCC_USE_VERSION_7 is not set
CONFIG_GCC_USE_VERSION_8=y
CONFIG_GCC_VERSION="8.3.0"
CONFIG_GCC_VERSION_8=y
CONFIG_GRUB_BAUDRATE=38400
CONFIG_IMAGEOPT=y
# CONFIG_IPV6 is not set
# CONFIG_KERNEL_IPV6 is not set
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bnx2-firmware=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-atomic=y
CONFIG_PACKAGE_boost-chrono=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_boost-thread=y
# CONFIG_PACKAGE_br2684ctl is not set
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_chanload=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-sleep=y
CONFIG_PACKAGE_e100-firmware=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_glib2=y
# CONFIG_PACKAGE_hwclock is not set
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iperf3=y
# CONFIG_PACKAGE_iw is not set
CONFIG_PACKAGE_iw-full=y
# CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_kmod-3c59x=y
# CONFIG_PACKAGE_kmod-8139cp is not set
CONFIG_PACKAGE_kmod-8139too=y
# CONFIG_PACKAGE_kmod-atm is not set
CONFIG_PACKAGE_kmod-bnx2=y
# CONFIG_PACKAGE_kmod-crypto-aead is not set
# CONFIG_PACKAGE_kmod-crypto-cbc is not set
CONFIG_PACKAGE_kmod-crypto-crc32c=y
# CONFIG_PACKAGE_kmod-crypto-ecb is not set
# CONFIG_PACKAGE_kmod-crypto-hw-geode is not set
# CONFIG_PACKAGE_kmod-crypto-manager is not set
# CONFIG_PACKAGE_kmod-crypto-null is not set
# CONFIG_PACKAGE_kmod-crypto-pcompress is not set
# CONFIG_PACKAGE_kmod-crypto-sha1 is not set
CONFIG_PACKAGE_kmod-e100=y
CONFIG_PACKAGE_kmod-e1000=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-i2c-algo-bit=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-igb=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
# CONFIG_PACKAGE_kmod-ledtrig-gpio is not set
# CONFIG_PACKAGE_kmod-ledtrig-heartbeat is not set
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-libphy=y
# CONFIG_PACKAGE_kmod-mppe is not set
CONFIG_PACKAGE_kmod-natsemi=y
CONFIG_PACKAGE_kmod-ne2k-pci=y
CONFIG_PACKAGE_kmod-netem=y
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
CONFIG_PACKAGE_kmod-nfnetlink=y
# CONFIG_PACKAGE_kmod-nls-base is not set
CONFIG_PACKAGE_kmod-pcnet32=y
# CONFIG_PACKAGE_kmod-pppoa is not set
CONFIG_PACKAGE_kmod-pps=y
CONFIG_PACKAGE_kmod-ptp=y
CONFIG_PACKAGE_kmod-r8169=y
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-sched-act-vlan=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-sched-connmark=y
CONFIG_PACKAGE_kmod-sched-ctinfo=y
CONFIG_PACKAGE_kmod-sched-flower=y
CONFIG_PACKAGE_kmod-sched-ipset=y
CONFIG_PACKAGE_kmod-sis900=y
# CONFIG_PACKAGE_kmod-solos-pci is not set
CONFIG_PACKAGE_kmod-tg3=y
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-ohci is not set
# CONFIG_PACKAGE_kmod-usb-ohci-pci is not set
CONFIG_PACKAGE_kmod-via-velocity=y
CONFIG_PACKAGE_lanradio=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libfuse=y
# CONFIG_PACKAGE_libip6tc is not set
# CONFIG_PACKAGE_libiwinfo is not set
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnl=y
CONFIG_PACKAGE_libnl-core=y
CONFIG_PACKAGE_libnl-genl=y
CONFIG_PACKAGE_libnl-nf=y
CONFIG_PACKAGE_libnl-route=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libprotobuf-c=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libtins=y
CONFIG_PACKAGE_libzmq-nc=y
# CONFIG_PACKAGE_linux-atm is not set
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-client-utils=y
CONFIG_PACKAGE_openssh-keygen=y
# CONFIG_PACKAGE_ppp-mod-pppoa is not set
# CONFIG_PACKAGE_pppdump is not set
# CONFIG_PACKAGE_pppstats is not set
CONFIG_PACKAGE_protobuf=y
CONFIG_PACKAGE_protobuf-lite=y
CONFIG_PACKAGE_r8169-firmware=y
# CONFIG_PACKAGE_soloscli is not set
CONFIG_PACKAGE_sshfs=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_terminfo=y
# CONFIG_PACKAGE_wpad-basic is not set
CONFIG_PCAP_HAS_NETFILTER=y
CONFIG_PCAP_HAS_USB=y
CONFIG_PREINITOPT=y
CONFIG_STRIP_ARGS="--strip-all"
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_USE_LIBSTDCXX=y
# CONFIG_USE_SSTRIP is not set
CONFIG_USE_STRIP=y
# CONFIG_USE_UCLIBCXX is not set
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
# CONFIG_PACKAGE_kmod-hwmon-lm90 is not set
